@import 'tdesign-vue-next/esm/common/style/web/_global.less';
@import 'tdesign-vue-next/esm/common/style/web/theme/_index.less';
@import 'tdesign-vue-next/esm/common/style/web/components/time-picker/_index.less';

body {
  .mxm-popup {
    --td-radius-medium: var(--mxm-radius);
    --td-warning-color: var(--mxm-warning-color);
    --td-error-color: var(--mxm-error-color);

    &.mxm-tooltip {
      --td-font-size-body-medium: var(--mxm-font-size-small);

      .mxm-popup__content {
        padding: 5px 12px;

        &:empty {
          display: none;
        }
      }
    }

    .mxm-dropdown {
      ul {
        margin: 0;
      }

      &__menu {
        padding: var(--td-pop-padding-s);
        max-height: var(--mxm-popup-max-height);
      }

      &__item {
        font-size: var(--mxm-font-size-small);
        padding: 2px var(--td-comp-paddingLR-s);
        min-width: 80px !important;
      }
    }

    &.mxm-select__dropdown {
      .mxm-popup__content {
        box-shadow:
          var(--td-shadow-2), var(--td-shadow-inset-top),
          var(--td-shadow-inset-right), var(--td-shadow-inset-bottom),
          var(--td-shadow-inset-left);
        max-height: var(--mxm-popup-max-height);
      }

      .mxm-select-option {
        &-group__header {
          font-size: var(--mxm-font-size-small);
        }

        &.mxm-size-s {
          height: 26px;
        }
      }
    }

    &__content {
      padding: 0;
    }
  }

  .mxm-toolbar {
    .mxm-input.mxm-size-s {
      --td-comp-paddingLR-s: 5px;

      &.mxm-input--suffix {
        padding-right: 2px !important;
      }

      &__suffix {
        &:not(:empty) {
          margin-left: 0 !important;
        }
      }
    }
  }

  .mxm-input--focused {
    --td-brand-color-focus: transparent;
  }

  .mxm-button {
    user-select: none;
  }

  .mxm-color-picker__panel {
    padding: var(--mxm-popup-content-padding) !important;

    .mxm-color-picker__body {
      padding: 0;

      .mxm-color-picker__swatches-wrap {
        display: none;
      }
    }
  }

  .mxm-dialog,
  .t-dialog {
    --td-warning-color: var(--mxm-warning-color);
    --td-error-color: var(--mxm-error-color);
    box-shadow:
      var(--td-shadow-2), var(--td-shadow-inset-top),
      var(--td-shadow-inset-right), var(--td-shadow-inset-bottom),
      var(--td-shadow-inset-left);
    border: none;
    border-radius: var(--mxm-radius-medium);
    color: var(--mxm-text-color);

    &__mask {
      position: absolute !important;
    }

    &__ctx {
      --td-mask-active: var(--mxm-mask-color);

      .mxm-dialog__wrap,
      .t-dialog__wrap {
        position: absolute;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &--fixed,
      &--modeless {
        position: absolute !important;
      }

      &--fixed {

        .mxm-dialog,
        .t-dialog {
          &__mask {
            backdrop-filter: blur(5px);
          }
        }
      }
    }

    &:not(.mxm-dialog__fullscreen):not(.t-dialog__fullscreen) {
      padding: 22px 25px 25px;
    }

    &__fullscreen {
      border-radius: 0;
      display: flex;
      flex-direction: column;
      box-shadow: none;
    }

    &__header {
      background: none;

      &-content {
        display: flex;
        font-size: 18px;
        font-weight: 400;
        align-items: center;

        >.mxm-icon {
          margin-right: 8px;
          font-size: 24px;
        }
      }

      &--fullscreen {
        min-height: 58px;
        padding: 0 15px;
        border-bottom: solid 1px var(--mxm-border-color);

        .mxm-dialog__header-content,
        .t-dialog__header-content {
          justify-content: flex-start;
        }
      }
    }

    &__close {
      color: var(--mxm-text-color-light);

      &:hover {
        color: var(--mxm-text-color);
      }
    }

    &__body {
      &--fullscreen {
        flex: 1;
        padding: 0;
      }
    }

    &__footer {
      padding-top: 5px;

      &--fullscreen {
        padding: 15px;
        border-top: solid 1px var(--mxm-border-color);
      }
    }
  }

  .mxm-slider {
    &__button {
      --td-comp-size-xxxs: 10px;
    }
  }

  .mxm-drawer {
    &__mask {
      --td-mask-active: var(--mxm-mask-color);
    }

    &__close-btn {
      color: rgba(0, 0, 0, 0.3);

      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }

      .mxm-icon {
        font-size: 20px;
      }
    }
  }

  .mxm-radio-group--filled {
    --td-bg-color-component: var(--mxm-button-hover-background);
  }

  .mxm-input-number.mxm-is-controls-right {

    .mxm-input-number__decrease,
    .mxm-input-number__increase {
      width: 18px;
    }

    .mxm-input {
      padding-right: 26px;
    }
  }

  .mxm-dropdown {
    &__menu {
      --td-pop-padding-s: 10px;
    }

    &__item {
      max-width: 200px !important;
    }

    .mxm-divider--horizontal {
      margin: 6px 0;
      width: 100%;
      background-color: var(--mxm-border-color-light);
    }
  }

  .mxm-select {
    &__list {
      --td-pop-padding-s: 10px;
    }

    .mxm-is-disabled {
      background-color: transparent;
    }
  }

  .mxm-color-picker {
    &__sliders-preview-inner {
      border: solid 1px var(--mxm-border-color);
      box-sizing: border-box;
      border-radius: 3px;
    }
  }

  .mxm-image-viewer-preview-image {
    position: absolute;
  }

  .mxm-image-viewer__modal {
    &-mask {
      background-color: var(--mxm-color-white) !important;
      opacity: 0.8 !important;
    }

    &-header {
      border-bottom: solid 1px var(--mxm-border-color-light);
    }

    &-icon {
      opacity: 0.5;
    }

    &-close-bt {
      margin-top: -60px;
    }

    &-box {
      min-width: 20vw;
      min-height: 20vh;
    }
  }

  .mxm-image-viewer__utils-content {
    box-shadow: var(--mxm-shadow);
    border: 1px solid var(--mxm-border-color);
    background-color: var(--mxm-color-white);
  }

  .mxm-message,
  .t-message {
    border-radius: var(--mxm-radius);
    max-width: 360px;

    &__list {
      position: absolute;
    }
  }

  .mxm-slider__container {
    --td-comp-size-xxxs: 8px;
    --td-size-2: 3px;
    --td-brand-color: #999;

    .mxm-slider__button {
      background: var(--td-brand-color);
      border: none;
      box-shadow: none;
    }

    .mxm-slider__track {
      background: none;
    }
  }
}